In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from datetime import datetime

In [19]:
price_df = pd.read_csv(r'D:\SMIT\CDE\EDA-Project-Airbnb-Market-Trends\data\airbnb_price.csv')
room_type_df = pd.read_excel(r'D:\SMIT\CDE\EDA-Project-Airbnb-Market-Trends\data\airbnb_room_type.xlsx')
review_df = pd.read_csv(r'D:\SMIT\CDE\EDA-Project-Airbnb-Market-Trends\data\airbnb_last_review.tsv', sep='\t')

 # BASIC ANALYSIS PART:

In [20]:
earliest_review = review_df['last_review'].min()
most_recent_review = review_df['last_review'].max()

In [21]:
nb_private_rooms = room_type_df[room_type_df['room_type'] == 'Private room'].shape[0]

In [22]:
# Remove non-numeric characters and convert to float
price_df['price'] = price_df['price'].str.replace('[^\d.]', '', regex=True).astype(float)

# Now calculate the average price
avg_price = price_df['price'].mean().round(2)

print(f"Average Price: {avg_price}")

Average Price: 141.78

In [23]:
review_dates = pd.DataFrame({
    'first_reviewed': [earliest_review],
    'last_reviewed': [most_recent_review],
    'nb_private_rooms': [nb_private_rooms],
    'avg_price': [avg_price]
})

# Display the summary DataFrame
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0  April 01 2019   May 31 2019              7241     141.78

In [24]:
# 1. Neighborhood Trends
neighborhood_prices = price_df.groupby('nbhood_full').agg(
    average_price=('price', 'mean'),
    number_of_listings=('price', 'size')
).sort_values(by='average_price', ascending=False)

In [25]:
top_5_expensive_neighborhoods = neighborhood_prices.head(5)
top_5_expensive_neighborhoods

                              average_price  number_of_listings
nbhood_full
Brooklyn, Sea Gate               805.000000                   2
Manhattan, Tribeca               396.704918                  61
Manhattan, Flatiron District     342.055556                  36
Manhattan, NoHo                  335.024390                  41
Manhattan, SoHo                  299.162304                 191

In [26]:
# Ensure all values in the description column are strings, replacing NaN with an empty string
room_type_df['description'] = room_type_df['description'].fillna('').astype(str)

# Split descriptions into words, convert to lowercase, and filter out stopwords
descriptions = room_type_df['description'].str.lower().str.split()

# Flatten the list of words and filter out stopwords
all_words = [word for sublist in descriptions for word in sublist if word not in stopwords]

# Use Counter to get the 10 most common words
word_counts = Counter(all_words)
top_10_words = word_counts.most_common(10)

# Display the top 10 words
print(top_10_words)

TypeError: 'float' object is not iterable